
.card-body {
  color: green;
}

.navbar {
  background: #0a693e;
  margin: none;
  padding: none;
  border: 1px solid rgb(0, 0, 0);
  a {
    color: #fff;
  }
  .navbar-brand {
    font-weight: 200;
  }
  
}

.btn {
  /* background: linear-gradient(to right, #C4E538, #009432); */
  background-color: #44b78b;
  outline: none;
}

.heading {
  color: transparent;
  display: block;
}
