body {
  background: #2f3542;
}

.card {
  color: #4cd137;
  border: none;
}

.btn {
  background: linear-gradient(to right, #C4E538, #009432);
  color: #fff;
  border: none;
}

.heading {
  color:#4cd137;
}
