
.card-body {
  background:#44b78b;
}

.navbar {
  background: green;
  a {
    color: #fff;
  }
}

.navbar-brand {
    font-weight: 200;
  }

.btn {
  /* background: linear-gradient(to right, #C4E538, #009432); */
  /* background: #C4E538; */
  outline: none;
  border: none;
}

.heading {
  color: transparent;
  display: block;
}
